<section class='flex gap-x-8 justify-center items-center'>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty'
  >
    <p>
      ¡Hola, soy Iván! Si has llegado hasta aquí, es porqué <em class='italic'
        >realmente quieres saber más sobre mí...</em
      >
      <br />¡Pues aquí van algunas <strong> curiosidades</strong>!

      <p>
        Desde que era un niño me llamaba mucho la atención los ordenadores,
        trasteaba en cualquier dispositivo que podía... ¡y ahora soy el <strong>
          típico amigo informático</strong
        > al cuál preguntan por cualquier error en su impresora!
      </p>

      <p>
        Hasta hace unos 3 años no sabía en qué sector de la informática centrar
        mi formación, y entonces descubrí este increíble mundo del Desarrollo.
      </p>

      <p>
        Actualmente estoy en constante <strong> formación</strong>, creando
        <strong>aplicaciones únicas</strong> con código limpio y reutilizable. Siempre
        intentando mejorar el rendimiento, seguridad, SEO y todo lo que pueda en
        mis proyectos.
      </p>
    </p>
  </div>
</section>
