---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
  {
    date: 'Marzo 2024',
    title: 'Full Stack Developer',
    company: 'Deliverea | Logistic management Software',
    description:
      'Principalmente mis tareas son revisar tickets de errores en nuestra aplicación reportados por clientes, simular el flujo para detectar el mismo error reportado, subir el fix teniendo en cuenta el control de versionado que usamos en GIT, realizar llamadas a API, editar documentación y artículos de la Knowledge Base (documentación para el cliente final, sobre configuraciones de nuestra App), actualizar Traducciones o fallos sencillos.',
  },
]
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCE.map(experience => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
