---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
  {
    date: 'Actualmente...',
    title: 'En constante formación',
    company: '',
    description:
      'Encontrarás algunos de mis últimos trabajos en la sección </> Proyectos',
    link: '',
  },
  {
    date: 'Marzo 2024',
    title: 'Full Stack Developer Jr',
    company: 'Deliverea | Logistic management Software',
    description:
      'Aprendí mucho Back-end, principalmente las tareas eran revisar los reportes de Errores o Bugs de nuestra aplicación, simular el flujo para encontrar el issue reportado, subir el fix mediante Git y control de versionado, realizar llamadas a API, editar documentación, editar y crear artículos de la Knowledge Base (documentación para el cliente final, sobre configuraciones de nuestra App), actualizar Traducciones o fallos sencillos, realizar Pull Requests, manejo de versionado en GIT.',
  },
  {
    date: 'Septiembre 2022',
    title: 'Camarero Sala/Barra',
    company: 'Burger King',
    description:
      'Estos 4 años he aprendido a ser responsable, a trabajar en equipo. Gracias al contrato Indefinido, conseguí poder estudiar y trabajar a tiempo parcial. De este modo conseguí introducirme en el sector IT.',
  },
]
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCE.map(experience => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
